<%- include('../header')%>
    <style>
        body {
            background-color: white;
            overflow-x: hidden;
        }

        .navbar {
            background-color: #000814;
        }

        .navbar-text {
            color: white;
            font-size: 27px;
            margin-left: 10px;
        }

        .navbar-buttons {
            margin-left: auto;
        }

        .navbar-buttons .btn {
            margin-left: 10px;
        }

        .card {
            background-color: #000814;
            margin: 10px;
            margin-left: 25px;
            width: 25%;
            max-width: 400px;

        }

        .small-card {
            height: 160px;
        }

        .card-title {
            color: white;
            font-size: 50px;
            text-align: center;
            margin-top: 20px;

        }

        .card-body {
            padding: 10px;
        }

        .card-footer {
            padding: 5px;
        }

        .card-link {
            text-decoration: none;
        }
    </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <span class="navbar-text text-white" onclick="window.location.href='/'">Movie.com</span>
                <div class="navbar-buttons">
                    <a href="/movies" class="btn btn-dark">Movie</a>
                    <a href="/genres/add" class="btn btn-primary">Add Genre</a>
                </div>
            </div>
        </nav>


        <div class="row">
            <% genres.forEach(genre=> { %>
                <a href="/genres/<%= genre.id %>/movies" class="card-link">
                    <div class="card small-card">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <%= genre.name %>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <a href="/genres/update/<%= genre.id%>" class="btn btn-warning">Update </a>
                        </div>
                    </div>
                </a>
                <% }) %>
        </div>
        <%- include('../footer')%>